@page
@model RecruitCatTiwariph.Pages.OurTeamModel
@{
    ViewData["Title"] = "Our Team";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="container align-self-center">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="text-center"> MEET OUR TEAM </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-8 col-sm-12">
            <p class=" text-center">CEO & Founder</p>
            <div class="card">
                <img class="card-img-top" src="~/NewFolder/Pratibha.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pratibha Prakash Tiwari</h5>
                    <p class="card-text">After graduating from college with a degree in Computer Science, Pratibha started RecruitCatTiwariph to help graduates in various feilds to take a step closer to their dream job. </p>
                    <p class="card-text"><small class="text-muted">"Quality work for all."</small></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-12">
            <p class=" text-center">Director of Operations</p>
            <div class="card">
                <img class="card-img-top" src="~/NewFolder/Mohini.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mohini Chakravarty</h5>
                    <p class="card-text">Mohini holds a degree in Multimedia and Operations from Manipal Institute in India. She loves to travel when she is not working her heart out in meeting amazing minds and generating opportunities.                    </p>
                    <p class="card-text"><small class="text-muted">"You only live once. So travel"</small></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-12">
            <p class=" text-center">Director of Design</p>
            <div class="card">
                <img class="card-img-top" src="~/NewFolder/Rutuja.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Rutuja Sawant</h5>
                    <p class="card-text">Rutuja holds a degree in Supply-Chain Management and is one of our founding members. She makes our lives easy by being innovative. Also, she is as good a cook as she is a Manager.</p>
                    <p class="card-text"><small class="text-muted">"I love meeting people and trying new cuisines"</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
</html>